import pandas as pd
import numpy as np
import sys
import matplotlib.pyplot as plt
from scipy.stats import linregress, logistic, kstest
from scipy.optimize import curve_fit
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, r2_score, mean_squared_error
